/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

/* Propeller typography */
@import "http://propeller.in/components/typography/css/typography.css";

/* Propeller button */
@import "http://propeller.in/components/button/css/button.css";

/* Propeller dropdown */
@import "http://propeller.in/components/dropdown/css/dropdown.css";

/* Propeller icons */
@import "http://fonts.googleapis.com/icon?family=Material+Icons";
@import "http://propeller.in/components/icons/css/google-icons.css";

/* Propeller navbar */
@import "http://propeller.in/components/navbar/css/navbar.css";

/* Propeller list */
@import "http://propeller.in/components/list/css/list.css";

/* Propeller sidebar */
@import "http://propeller.in/components/sidebar/css/sidebar.css";

/* Background video */
body{
  padding:0;
  margin:0;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}
/*.vid-container{
  position:relative;
  height:100vh;
  min-height:100vh;
  overflow:hidden;
}
.bgvid{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  min-width:100vw;
}*/


.ticker {
	margin-bottom: 0;
	border-radius: 0;
}

.container-fluid{
	background-color: #000;
}
/*Header font color*/
/*#header-navbar a{
	color: #fff;
	font-family: 'Roboto', sans-serif;
}*/
.navbar-header img{
	float: left;
	padding-right: 5px;
}
.navbar-header .navbar-brand span{
	padding-left: 10px;
	font-weight: bold;
}
/*header left humberger toggle icon*/
.pmd-sidebar-toggle .material-icons{
	color: #fff;
}
/*header right humbertoggle icon*/
.pmd-sidebar-toggle-right .material-icons{
    color: #fff;
}
/*"Welcom" background colot to GATech yellow*/
#pmd-main{
    background-color: #eeb211;
}
.welcom-dropdown h1{
	font-size: 20px;
	margin:0;
}
/*Left panel*/
.pmd-sidebar-left{
	background-color: #808080;
}
/*Left/right ripple bar background color*/
.pmd-sidebar-nav{
	background-color: #808080; 
} 
/*Left side ripple letter*/
.pmd-ripple-effect span {
    color: #fff;
    font-size: 18px;
}
/*Left side ripple letter on hover   not working yet*/
.pmd-ripple-effect span: hover{	
	color: #545454;
}
/*right panel font color*/
#printed-media{
	color: #fff;	
	text-align: center;
}
/*Right panel*/
.pmd-sidebar-right-fixed{
	background-color: #808080;
}
/*icons in right ripple*/  
.pmd-ripple-effect i{
    color: #fff;
}
/*not working*/
#left-sidebar{ 
	height:100%;
}




/* Propeller card css */
@import "http://propeller.in/components/card/css/card.css";

.card-type {
	width: 225px;
	margin: 10px;

}

.pmd-caption {
	font-size: 20px;
	color: #9d9d9d;
	float: right;
	padding-right: 20px;
}

@media only screen and (min-width:1024px) and (max-width:1100px){
.about-panel .pmd-card-custom { width: 450px;}
.about-panel .img-rounded { width: 70px;}
.gitter-chat-embed{ z-index:99999; left:70%;}
}
@media screen and (max-width: 991px){
.pmd-navbar .navbar-brand img { height:30px;}
.collaborate-btn { margin-left:10px; min-width:120px; font-size:13px;}
.main-bg .pmd-tabs .nav > li > a { padding-left:8px; padding-right:10px; font-weight:normal;}
.about-panel .img-rounded { width:70px;}
.gitter-chat-embed{ z-index:99999; left:50%;}
}
@media only screen and (min-width:768px) and (max-width:991px){
.about-panel .pmd-card-title-text { font-size:14px;}
.about-panel .add-wire { top:125px;}
.about-panel .pmd-card-custom { max-width:325px; min-height:185px;}
.about-panel .pmd-card-custom.pmd-card-blue { margin-top:35px;}
.about-panel .pmd-card-custom.pmd-card-blue { min-height:auto;}
.how-block img { max-height:150px;}	
.about-panel .pmd-card-subtitle-text { font-size:13px;}
.feature-block .block-title { font-size:14px;}
.feature-block .block-content { font-size:13px;}
.how-block .block-title { font-size:16px;}
.how-block .block-content { font-size:14px;}

.navbar-brand svg { width: 148px;}
.collaborate-btn { font-size: 12px; min-width: 100px;}
.main-bg .pmd-tabs .nav > li > a { padding-left: 6px; padding-right: 8px; font-size: 13px;}
}
@media screen and (max-width: 767px){
.about-panel .pmd-card-custom { max-width:100%;}
.about-panel .img-rounded { width:90px;}
.about-panel .add-wire {top: 38%; z-index: 2;}
.about-panel .pmd-card-custom.pmd-card-blue {clear: both; margin: 0 auto; position: static;}
.feature-block img { max-height:95px;}
.feature-block { margin-bottom:30px;}
.btn-green-border { margin-top:20px;}
.how-panel .right-border { border:0;}
.navbar-inverse .pmd-navbar-sidebar{ background-color:#1f2f46;}
.template-detail h1{ font-size:24px; margin-bottom:20px;}
.template-button .btn{padding: 10px 12px 9px;}
.template-detail .pmd-content{padding-left:0; padding-right:0; padding-top: 56px;}
.pmd-navbar .navbar-brand svg { height:40px; width:auto;}
.gmd-card { position:relative;}
.gmd-card .media-right{ position:absolute; top:20px; margin:auto; height:60px; width:60px; padding:0;}
.gmd-card .media-body{padding-left: 75px; text-align: left;}
.bootstrap-card .media-middle{ vertical-align:top;}
.bootstrap-card .media-middle img{margin-top:20px;}
.gitter-chat-embed{ z-index:99999; left:15%;}
}
@media screen and (max-width: 480px){
.about-panel .add-wire { top: 37%;}
.header-title h1{ font-size:30px;}
.banner-content{ font-size:20px;}	
.section-title { font-size:24px;}
.section-padding { padding:50px 0 60px;}
.feature-block .block-content, .how-block .block-content { max-width:100%;}
.support-content .mail-contact { font-size:18px;}
.about-panel .img-rounded { width:60px;}
.feature-block img { max-height:75px; margin-bottom:10px; margin-top:20px;}
.header-title-bar { padding-top:105px;}
.main-bg { height:auto; padding-bottom:50px;}
.about-panel .pmd-card-title-text { word-break:keep-all;}
.gitter-chat-embed{ z-index:99999; left:0%;}
}
@media screen and (max-width: 479px){
.about-panel .add-wire { top: 39%;}	
	
}
@media screen and (max-width: 320px){
.about-panel .add-wire { top: 39%;}
.header-title-bar .green-btn, .header-title-bar .pmd-svg.btn{ padding: 10px 12px;  min-width: inherit;}
}
/*----------------------------------- Media Queries ---------------------------*/

/* ----------------------------------------------
 * Generated by Animista on 2017-3-20 23:42:10
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}@keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}

/* ----------------------------------------------
 * Generated by Animista on 2017-3-21 0:7:52
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
@-webkit-keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}
@-webkit-keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}@keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}100%{-webkit-transform:translateY(-100px);transform:translateY(-100px)}}
@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}


.card-type {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	-moz-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.pmd-ripple-effect {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	-moz-animation: tracking-in-expand 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

/*----------------------------------- Motivational Quote Styling ---------------------------*/
#motiv-quote{
	font-size: 16px;
}
